# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e6b33352eba470aeeeb201f3ddba8d6eec4e4bdfe8444a1d9d8fc9a4457e478e8eee396c98d5f29d29ad68b753149e954fab82fd5589817172b6138d3376d755

test:
  secret_key_base: 2e69d56d2ed060b3f1f1b1ee6250ba153462f44997ab6e1462ed2adef567b4165ca97fcc8438fec476d0147f461141b39592f2fe0357809388b49852df437c64

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
